# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/modules/*/.build/
terraform/modules/*/.app_public_ip

# Python
__pycache__/
*.pyc
.pytest_cache/

# SAM
.aws-sam/
